/* ==== IMAGENES ====== */

figure:has(img),
.profile-field[field="imagen-post"] {
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &.nav-avatar {
        height: var(--nav-size);
        width: var(--nav-size);
    }

    .miniperfil & {
        height: var(--img-miniperfil-h);
        width: var(--img-miniperfil-w);
    }

    .slot[data-field="imagen-post"] & {
        height: var(--img-headerpost-h);
        width: var(--img-headerpost-w);
    }

    &.icon,
    &.topic-icon,
    &.participate {
        width: 25px;
        height: 25px;
    }

    .last-post &,
    .lastpost & {
        width: var(--img-lastpost-w);
        height: var(--img-lastpost-h);
    }

    &.newest-user-avatar {
        width: var(--img-newestuser-w);
        height: var(--img-newestuser-h);
    }
}
