*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font: 100% var(--f-text);
}

ol,
ul,
menu {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

a,
button {
    cursor: pointer;
}

#fa_toolbar,
#field_id:has(#i_icon_email),
.signature br,
.quickreply .h3,
.quickreply>br,
img.sprite-tabs_more {
    display: none;
}

/* ==== BODY =====*/

body {
    margin: 0 !important;
    width: 100%;
    min-height: 100vh;
    background: var(--c-surface-body);

    &#sce_smilies_body {
        background: var(--c-surface-main);
    }
}

/* ==== NAV ====== */
.main-nav {
    position: fixed;
    background: var(--c-surface-nav);
    color: var(--c-text-nav);
    z-index: 9999999999;

    &[horizontal] {
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        height: var(--nav-size);

        menu {
            display: flex;
            align-items: center;
            gap: .5rem;
        }
    }

    &[vertical="right"] {
        right: 0;
        top: 0;
        height: 100vh;
        width: var(--nav-size);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &[vertical="left"] {
        left: 0;
        top: 0;
        height: 100vh;
        width: var(--nav-size);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &[vertical="right"] menu,
    &[vertical="left"] menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;

        .nav-username {
            display: none;
        }
    }
}

/* ==== TABLON ==== */

.tablon {
    display: grid;
    & > * {
        grid-area: var(--grid-area);
}

.last-topics {
    --grid-area: last-topics;
    .topic {
        display: flex;
        flex-direction: column;
    }
}

/* ==== MAIN ==== */

main {
    background-color: var(--c-surface-main);
    color: var(--c-text-main);
    width: var(--width-main);
    margin: 0 auto;
    border-radius: var(--br-forum);
    corner-shape: var(--shape-main);
    padding-bottom: 2rem;
}

.page-title {
    font-family: var(--f-title);
    font-weight: 800;
    text-transform: uppercase;
    padding: 1rem;
}

.posts .page-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}

/* ==== CATEGORIAS ==== */

/***** COLUMNAS ****/

.forum-wrap[columnas] {
    display: grid;
    grid-template-columns: repeat(attr(columnas type(<number>)), 1fr);

    &[columnas="2"] {

        &:has(.forum:nth-child(3):last-child),
        &:has(.forum:nth-child(5):last-child),
        &:has(.forum:nth-child(7):last-child) {
            .forum:last-of-type {
                grid-column: 1 / -1;
            }
        }
    }

    &[columnas="3"] {

        &:has(.forum:nth-child(4):last-child),
        &:has(.forum:nth-child(6):last-child),
        &:has(.forum:nth-child(8):last-child) {
            .forum:last-of-type {
                grid-column: 1 / -1;
            }
        }
    }

    &[columnas="4"] {

        &:has(.forum:nth-child(5):last-child),
        &:has(.forum:nth-child(7):last-child),
        &:has(.forum:nth-child(9):last-child) {
            .forum:last-of-type {
                grid-column: 1 / -1;
            }
        }
    }

    @media (width < 700px) {
        grid-template-columns: 1fr;
    }
}

/****CAROUSEL*****/

.forum-carousel-menu {
    display: flex;

    input[type="radio"] {
        display: none;
    }

    label {
        cursor: pointer;
    }

}

.forum-wrap[carousel] {
    position: relative;
    overflow: hidden;
}

.forum-wrap[carousel] .forum {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition:
        opacity .4s ease;
}

/* Activo */
.category:has(.forum-carousel-menu li:nth-of-type(1) input:checked) .forum-wrap[carousel] .forum:nth-of-type(1),
.category:has(.forum-carousel-menu li:nth-of-type(2) input:checked) .forum-wrap[carousel] .forum:nth-of-type(2),
.category:has(.forum-carousel-menu li:nth-of-type(3) input:checked) .forum-wrap[carousel] .forum:nth-of-type(3),
.category:has(.forum-carousel-menu li:nth-of-type(4) input:checked) .forum-wrap[carousel] .forum:nth-of-type(4),
.category:has(.forum-carousel-menu li:nth-of-type(5) input:checked) .forum-wrap[carousel] .forum:nth-of-type(5),
.category:has(.forum-carousel-menu li:nth-of-type(6) input:checked) .forum-wrap[carousel] .forum:nth-of-type(6) {
    opacity: 1;
    pointer-events: auto;
    position: relative;
}

/* ==== FOROS ==== */

.forum {
    display: grid;

     & > * {
            grid-area: var(--grid-area);
        }

    .title {
        --grid-area: title;
    }

    figure.forum-img:has(img) {
        --grid-area: img;
    }

    .icon {
        --grid-area: icon;
    }

    .description {
        --grid-area: desc;
        text-align: justify;
    }

    .links {
        --grid-area: links;
    }

    .data {
        --grid-area: data;
    }

    .last-post {
        --grid-area: lastpost;

        br {
            display: none;
        }
    }
}

/* ==== IMAGENES ====== */

figure:has(img),
.profile-field[field="imagen-post"] {
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &.nav-avatar {
        height: var(--nav-size);
        width: var(--nav-size);
    }

    .miniperfil & {
        height: var(--img-miniperfil-h);
        width: var(--img-miniperfil-w);
    }

    .slot[data-field="imagen-post"] & {
        height: var(--img-headerpost-h);
        width: var(--img-headerpost-w);
    }

    &.icon,
    &.topic-icon,
    &.participate {
        width: 25px;
        height: 25px;
    }

    .last-post &,
    .lastpost & {
        width: var(--img-lastpost-w);
        height: var(--img-lastpost-h);
    }

    &.newest-user-avatar {
        width: var(--img-newestuser-w);
        height: var(--img-newestuser-h);
    }
}

/* DERECHA*/
[popover]:is([right]) {
    --transform: translateX(100%);
    --top: var(--nav-size);
    --right: 0;
    --left: auto;
}

[popover]:is([right]):popover-open {
    --transform-open: translateX(0);
}

@starting-style {
    [popover]:is([right]):popover-open {
        --transform-enter: translateX(100%);
    }
}

/* IZQUIERDA*/
[popover]:is([left]) {
    --transform: translateX(-100%);
    --top: 0;
    --right: auto;
    --left: 0;
}

[popover]:is([left]):popover-open {
    --transform-open: translateX(0);
}

@starting-style {
    [popover]:is([left]):popover-open {
        --transform-enter: translateX(-100%);
    }
}

/* GENERAL */
[popover] {
    height: var(--height);
    width: var(--width);
    position: fixed;
    top: var(--top);
    right: var(--right);
    left: var(--left);
    background: var(--c-surface-popovers);
    border: 1px solid transparent;
    color: var(--c-text-popovers);
    padding: var(--spacing-popovers);
    border-radius: var(--br);
    corner-shape: var(--shape-popovers);
    opacity: 0;
    transform: var(--transform);
    transition: opacity .7s, transform .7s, overlay .7s allow-discrete, display .7s allow-discrete;
}

[popover]:popover-open {
    opacity: 1;
    transform: var(--transform-open);
}

@starting-style {
    [popover]:popover-open {
        opacity: 0;
        transform: var(--transform-enter);
    }
}

/* ==== TOPIC LIST ==== */

.topic-list {

  header {
    &.pinned {
            &:after {
                content: "\F4ED";
                font-family: bootstrap-icons;
            }
        }
    .grid & {
            grid-column: 1 / -1;
        }
  }

  .topic {
    display: grid;

    .pagination,
        .description,
        .topic-type {
            &:empty {
                display: none;
            }
        }
    & > * {
      grid-area: var(--grid-area);
    }

    .topic-icon {
            --grid-area: topic-icon;
    }
     .participate {
            --grid-area: participate-icon;
        }
    .topic-type {
           --grid-area: topic-type;
    }
    .topic-title {
            --grid-area: topic-title;
        }

        .description {
            --grid-area: description;
        }

     .pagination {
            --grid-area: pagination;
        }

        .author {
            --grid-area: author;
        }
    .data {
            --grid-area: data;
    }

    .lastpost {
            --grid-area: lastpost;
      img.sprite-arrow_prosilver_right {
                display: none;
            }

            li:has(.sprite-arrow_prosilver_right) {
                position: absolute;
                right: 1rem;
            }

            a:has(.sprite-arrow_prosilver_right) {
                display: flex;
                align-items: center;
                justify-content: center;

                &:before {
                    content: "\F138";
                    font: 1rem bootstrap-icons;
                }
            }
    }
  }
}

/* ==== SCEDITOR ==== */

/* ==== QUICK REPLY ==== */

    #quick_reply {
        margin-top: 3rem;

        #textarea_content {
            width: 90% !important;
        }

    }

/* ==== SCEDITOR ==== */

    #contador {
        background: var(--dark);
        color: var(--light);
        padding: .5rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
        font: .75rem var(--f-mono);
    }

    .sceditor-container {
        background: oklch(from var(--light) calc(l + .1) c h) !important;
        background-clip: padding-box;
        border: 1px solid var(--dark) !important;
        border-radius: var(--br) !important;
        corner-shape: squircle;
        color: var(--dark) !important;
        font-family: var(--f-text) !important;
        font-size: 1rem !important;
        font-weight: 700;
        line-height: 1;
        position: relative;
    }

    .sceditor-container>textarea {
        height: 50vh !important;
        width: 100% !important;
        padding: 2rem !important;
        margin: 0 !important;
        background: oklch(from var(--light) calc(l + .5) c h) !important;
        border: 0;
        border-radius: 0 0 var(--br) var(--br) !important;
        corner-shape: squircle;
        color: var(--dark) !important;
        font-family: var(--f-text) !important;
        font-size: 1rem !important;
        outline: 0;
    }

    .sceditor-grip,
    .sceditor-resize-cover {
        display: none !important;
    }

    .sceditor-toolbar {
        background: var(--c-accent) !important;
        border-bottom: 0 !important;
        border-radius: var(--br) var(--br) 0 0 !important;
        corner-shape: squircle;
        padding: .5rem !important;
        height: max-content !important;
        flex-wrap: wrap !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .sceditor-group {
        background: transparent !important;
        border-bottom: 0 !important;
        border-radius: var(--br) !important;
        margin: 0 !important;
        padding: 0 !important;
        height: 100% !important;
        display: flex !important;
        align-items: center !important;
        gap: .25rem !important;

    }


    .sceditor-button {
        height: 30px !important;
        width: 30px !important;
        padding: 0 !important;
        background: transparent !important;
        color: var(--c-text-on-accent) !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-indent: 0 !important;
        transition: all .5s ease-in-out !important;

        &>div {
            background: transparent !important;
            position: absolute;
        }

        &.sceditor-button-mention div,
        &.sceditor-button-twemojifa div {
            background: transparent !important;
        }

        &.sceditor-button-pastetext,
        &.sceditor-button-more,
        &.sceditor-button-removeformat {
            display: none !important;
        }

        .sceditor-group[style="display: none;"] & {
            display: none !important;
        }

        &:hover,
        &.hover {
            box-shadow: none !important;
            background: oklch(from var(--c-accent) calc(l + .2) c h) !important;
            transition: all .5s ease-in-out;
        }

        &:before {
            font: 1rem bootstrap-icons !important;
        }

        &.sceditor-button-bold:before {
            content: "\F5F0";
        }

        &.sceditor-button-italic:before {
            content: "\F5F4";
        }

        &.sceditor-button-underline:before {
            content: "\F5F6";
        }

        &.sceditor-button-strike:before {
            content: "\F5F5";
        }

        &.sceditor-button-left:before {
            content: "\F5C7";
        }

        &.sceditor-button-center:before {
            content: "\F5C4";
        }

        &.sceditor-button-right:before {
            content: "\F5C9";
        }

        &.sceditor-button-justify:before {
            content: "\F44B";
        }

        &.sceditor-button-quote:before {
            content: "\F6B0";
        }

        &.sceditor-button-code:before {
            content: "\F2C8";
        }

        &.sceditor-button-faspoiler:before {
            content: "\F340";
        }

        &.sceditor-button-fahide:before {
            content: "\F8A3";
        }

        &.sceditor-button-servimg:before {
            content: "\F2C0";
        }

        &.sceditor-button-image:before {
            content: "\F42A";
        }

        &.sceditor-button-link:before {
            content: "\F470";
        }

        &.sceditor-button-embed:before {
            content: "\F37D";
        }

        &.sceditor-button-youtube:before {
            content: "\F21F";
        }

        &.sceditor-button-headers:before {
            content: "\F5F1";
        }

        &.sceditor-button-size:before {
            content: "\F5F7";
        }

        &.sceditor-button-color:before {
            content: "\F4B1";
        }

        &.sceditor-button-font:before {
            content: "\F3DA";
        }

        &.sceditor-button-removeformat:before {
            content: "";
        }

        &.sceditor-button-mention:before {
            content: "\F152";
        }

        &.sceditor-button-emoticon:before {
            content: "\F32B";
        }

        &.sceditor-button-twemojifa:before {
            content: "\F329";
        }

        &.sceditor-button-date:before {
            content: "\F1E4";
        }

        &.sceditor-button-time:before {
            content: "\F293";
        }

        &.sceditor-button-source:before {
            content: "\F749";
        }

        &.sceditor-button-bulletlist:before {
            content: "\F478";
        }

        &.sceditor-button-orderedlist:before {
            content: "\F475";
        }

        &.sceditor-button-horizontalrule:before {
            content: "\F426";
        }

        &.sceditor-button-table:before {
            content: "\F5AA";
        }


    }

    div.sceditor-dropdown {
        background: var(--c-surface-main) !important;
        background-clip: padding-box;
        border: 0 !important;
        border-radius: var(--br-small) !important;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
        color: var(--c-text-main) !important;
        line-height: 1;
        padding: 10px;
        position: absolute;
        z-index: 4000;
    }

    /* ==== FOOTER ==== */

    footer {
        color: var(--light);
        width: 100%;
    }

    footer .legend {
        font-size: 0;

        a {
            font-size: 1rem !important;
        }
    }

    #footer_widgets {
        width: 100%;
        display: grid;
        grid-template-columns: max-content repeat(6, 1fr);

            & > * {
                    grid-area: var(--grid-area);
            }

        grid-template-areas:
            "footerlinks online online loggedbefore loggedbefore stats stats"
            "disclaimer disclaimer afiliados afiliados afiliados afiliados afiliados"
            "creditos creditos creditos creditos creditos creditos creditos";

        .footer-links {
            --grid-area: footerlinks;
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

        .mod_whoisonline {
            --grid-area: online;
        }

        .mod_statistics {
            --grid-area: stats;
            display: grid;
            grid-template-columns: max-content auto;

            li {
                font-size: 0;

                strong,
                span {
                    font-size: 1rem !important;
                }
            }
        }

        .disclaimer {
            --grid-area: disclaimer;
            text-align: justify;
        }

        #afiliados {
            --grid-area: afiliados;
        }

        .creditos {
            --grid-area: creditos;
        }

            .loggedbefore{ 
                    --grid-area: loggedbefore;
            }
    }

    .newest-user-username {
        font-size: 0;

        a {
            font-size: 2rem;
            font-family: var(--f-mono);
            text-transform: lowercase;
        }
    }

    .logged-total ul {
        display: flex;
        justify-content: space-around;

        li {
            display: flex;
            gap: .5rem;
            text-transform: uppercase;
        }
    }

    .linklist .rightside {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 0;
        padding: .75rem;
        text-transform: uppercase;

        a,
        .gensmall {
            font-size: 65% !important;
        }
    }

