.topic-list {

  header {
    &.pinned {
            &:after {
                content: "\F4ED";
                font-family: bootstrap-icons;
            }
        }
    .grid & {
            grid-column: 1 / -1;
        }
  }

  .topic {
    display: grid;

    .pagination,
        .description,
        .topic-type {
            &:empty {
                display: none;
            }
        }
    & > * {
      grid-area: var(--grid-area);
    }

    .topic-icon {
            --grid-area: topic-icon;
    }
     .participate {
            --grid-area: participate-icon;
        }
    .topic-type {
           --grid-area: topic-type;
    }
    .topic-title {
            --grid-area: topic-title;
        }

        .description {
            --grid-area: description;
        }

     .pagination {
            --grid-area: pagination;
        }

        .author {
            --grid-area: author;
        }
    .data {
            --grid-area: data;
    }

    .lastpost {
            --grid-area: lastpost;
      img.sprite-arrow_prosilver_right {
                display: none;
            }

            li:has(.sprite-arrow_prosilver_right) {
                position: absolute;
                right: 1rem;
            }

            a:has(.sprite-arrow_prosilver_right) {
                display: flex;
                align-items: center;
                justify-content: center;

                &:before {
                    content: "\F138";
                    font: 1rem bootstrap-icons;
                }
            }
    }
  }
}
