@property --layout {
  syntax: "*"; /* genérico*/
  inherits: true;
  initial-value: grid;
}

@container style(--layout: grid) {
  /*CSS*/
}

/*recordar poner en el padre container-type: inline-size; */

