@function --auto-grid(--min, --cols, --gap: 1rem) {
  --per-col: calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols));
  result: repeat(auto-fit, minmax(min(var(--min), var(--per-col)), 1fr));
}

.forum-wrap {
display: grid;
    --gap: 1rem;
  gap: var(--gap);
}

.forum-wrap[columns="2"] {
    grid-template-columns: --auto-grid(350px,2, var(--gap));
  }

.forum-wrap[columns="3"] {
  
  grid-template-columns: --auto-grid(350px, 3, var(--gap));
  }

.forum-wrap[columns="4"] {
    grid-template-columns: --auto-grid(350px,4, var(--gap));
  }

/* poner en category columns="numero" */
