@function --light-dark(--light, --dark) {
	result: if(
		style(--scheme: dark): var(--dark);
		else: var(--light)
	);
}

:root {
  --bg: --light-dark(red, pink);
  --bg-panel: #ebebeb;
  --color-headings: #9055dd;
  --color-text: #333333;
}
